*:not(input) {
  touch-action: pan-y;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body {
  width: 100%;
  height: 100%;
  background: url('../images/bg.png') no-repeat;
  background-size: cover;
  /* 遮罩层 */
}
html section.loader,
body section.loader {
  width: 100%;
  min-height: 100%;
  background: -webkit-linear-gradient(#f8cd92, #eedddd);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#f8cd92, #eedddd);
  /* Opera 11.6 - 12.0 */
  background: -moz-linear-gradient(#f8cd92, #eedddd);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#f8cd92, #eedddd);
  /* 标准的语法 */
}
html section.loader > div,
body section.loader > div {
  padding-top: 50%;
}
html section.loader > div:nth-child(1),
body section.loader > div:nth-child(1) {
  font-weight: bold;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  font-style: italic;
  color: #f7aa3f;
}
html section.loader > div:nth-child(2),
body section.loader > div:nth-child(2) {
  box-sizing: border-box;
  padding: 2px;
  margin: 0 auto;
  width: 15em;
  height: .5em;
  background-color: #f7ca8c;
  border-radius: .4em;
}
html section.loader > div:nth-child(2) div,
body section.loader > div:nth-child(2) div {
  width: 30%;
  height: .24em;
  border-radius: .4em;
  background-color: #ec9923;
}
html section.home,
body section.home {
  display: none;
}
html section.home > div:nth-child(1),
body section.home > div:nth-child(1) {
  width: 7.5rem;
  height: 2.53rem;
  background: url('../images/home_01.png') no-repeat;
  background-size: cover;
  position: relative;
}
html section.home > div:nth-child(1) > a,
body section.home > div:nth-child(1) > a {
  display: inline-block;
  position: absolute;
  top: .2rem;
  right: 0;
  width: 1.6rem;
  height: .82rem;
  background: url('../images/rule.png') no-repeat;
  background-size: cover;
}
html section.home > div:nth-child(1) > div,
body section.home > div:nth-child(1) > div {
  position: absolute;
  top: .52rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  width: 5.5rem;
  height: 2.63rem;
  background: url('../images/home_title.png') no-repeat;
  background-size: cover;
}
html section.home > div:nth-child(2),
body section.home > div:nth-child(2) {
  position: relative;
  top: -0.32rem;
}
html section.home > div:nth-child(2) > div:nth-child(1),
body section.home > div:nth-child(2) > div:nth-child(1) {
  width: 7.37rem;
  height: 8.94rem;
  background: url('../images/homex_01.png') no-repeat;
  background-size: cover;
}
html section.home > div:nth-child(2) > div:nth-child(2),
body section.home > div:nth-child(2) > div:nth-child(2) {
  position: absolute;
  left: 0;
  top: 5.5rem;
  width: 1.63rem;
  height: 2.1rem;
  background: url('../images/home_left.png') no-repeat;
  background-size: cover;
}
html section.home > div:nth-child(2) > div:nth-child(3),
body section.home > div:nth-child(2) > div:nth-child(3) {
  position: absolute;
  right: 0;
  top: 4rem;
  width: .91rem;
  height: 1.44rem;
  background: url('../images/home_rig.png') no-repeat;
  background-size: cover;
}
html section.home > div:nth-child(3),
body section.home > div:nth-child(3) {
  width: 4.26rem;
  height: 1.18rem;
  background: url('../images/startx.png') no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
  left: 0;
  right: 0;
  top: -0.95rem;
  margin: auto;
}
html section.home > div:nth-child(4),
body section.home > div:nth-child(4) {
  position: absolute;
  bottom: 0;
  width: 7.5rem;
  height: 1.94rem;
  background: url('../images/home_02.png') no-repeat;
  background-size: cover;
}
html section.phdisplay,
body section.phdisplay {
  display: none;
}
html section.phdisplay > div:nth-child(1),
body section.phdisplay > div:nth-child(1) {
  width: 7.5rem;
  height: 2.53rem;
  background: url('../images/home_01.png') no-repeat;
  background-size: cover;
  position: relative;
}
html section.phdisplay > div:nth-child(1) > div,
body section.phdisplay > div:nth-child(1) > div {
  position: absolute;
  top: .28rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  width: 5.5rem;
  height: 2.63rem;
  background: url('../images/home_title.png') no-repeat;
  background-size: cover;
}
html section.phdisplay > div:nth-child(2),
body section.phdisplay > div:nth-child(2) {
  position: relative;
  top: -0.22rem;
  width: 7.5rem;
  height: 8.05rem;
  background: url('../images/ph_01.png') no-repeat;
  background-size: cover;
}
html section.phdisplay > div:nth-child(2) > ul > li,
body section.phdisplay > div:nth-child(2) > ul > li {
  position: absolute;
  z-index: 2;
}
html section.phdisplay > div:nth-child(2) > ul > li:nth-child(1),
body section.phdisplay > div:nth-child(2) > ul > li:nth-child(1) {
  top: .7rem;
  left: 1.14rem;
  width: 2.1rem;
  height: 2.35rem;
  transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  /* Firefox */
  -webkit-transform: rotate(-7deg);
  /* Safari and Chrome */
  -o-transform: rotate(-7deg);
  /* Opera */
}
html section.phdisplay > div:nth-child(2) > ul > li:nth-child(2),
body section.phdisplay > div:nth-child(2) > ul > li:nth-child(2) {
  top: .67rem;
  left: 3.52rem;
  width: 1.78rem;
  height: 2.58rem;
  transform: rotate(-6eg);
  -moz-transform: rotate(-6deg);
  /* Firefox */
  -webkit-transform: rotate(-6deg);
  /* Safari and Chrome */
  -o-transform: rotate(-6deg);
  /* Opera */
}
html section.phdisplay > div:nth-child(2) > ul > li:nth-child(3),
body section.phdisplay > div:nth-child(2) > ul > li:nth-child(3) {
  top: 3.23rem;
  left: 1.37rem;
  width: 1.84rem;
  height: 2.59rem;
  transform: rotate(-6eg);
  -moz-transform: rotate(-6deg);
  /* Firefox */
  -webkit-transform: rotate(-6deg);
  /* Safari and Chrome */
  -o-transform: rotate(-6deg);
  /* Opera */
}
html section.phdisplay > div:nth-child(2) > ul > li:nth-child(4),
body section.phdisplay > div:nth-child(2) > ul > li:nth-child(4) {
  top: 3.6rem;
  left: 3.5rem;
  width: 2.45rem;
  height: 1.68rem;
  transform: rotate(-7eg);
  -moz-transform: rotate(-7deg);
  /* Firefox */
  -webkit-transform: rotate(-7deg);
  /* Safari and Chrome */
  -o-transform: rotate(-7deg);
  /* Opera */
}
html section.phdisplay > div:nth-child(2) > ul > li:nth-child(5),
body section.phdisplay > div:nth-child(2) > ul > li:nth-child(5) {
  top: 5.51rem;
  left: 3.56rem;
  height: 1.79rem;
  width: 2.6rem;
  transform: rotate(-8eg);
  -moz-transform: rotate(-8deg);
  /* Firefox */
  -webkit-transform: rotate(-8deg);
  /* Safari and Chrome */
  -o-transform: rotate(-8deg);
  /* Opera */
}
html section.phdisplay > div:nth-child(3),
body section.phdisplay > div:nth-child(3) {
  width: 4.26rem;
  height: 1.18rem;
  background: url('../images/palymemories.png') no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
  left: 0;
  right: 0;
  top: -0.4rem;
  margin: auto;
}
html section.phdisplay > div:nth-child(3).bScale,
body section.phdisplay > div:nth-child(3).bScale {
  -webkit-animation: btnScale 1s linear 0s infinite both;
  animation: btnScale 1s linear 0s infinite both;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  /* Safari 和 Chrome */
}
html section.phdisplay > div:nth-child(4),
body section.phdisplay > div:nth-child(4) {
  position: absolute;
  bottom: 0;
  width: 7.5rem;
  height: 1.94rem;
  background: url('../images/home_02.png') no-repeat;
  background-size: cover;
}
html section.phdisplay > a,
body section.phdisplay > a {
  display: none;
  position: absolute;
  right: 0;
  top: .2rem;
  z-index: 100;
  width: 1.6rem;
  height: .82rem;
  background: url(../images/all_btn.png) no-repeat;
  background-size: cover;
  color: #fff;
  font-size: .3rem;
  line-height: .63rem;
  box-sizing: border-box;
  padding-right: .4rem;
  text-align: right;
}
html section.list,
body section.list {
  display: none;
  font-size: .8rem;
}
html section.list > div:nth-child(1),
body section.list > div:nth-child(1) {
  position: absolute;
}
html section.list > div:nth-child(2),
body section.list > div:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: .7rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 1.9rem;
  justify-content: space-between;
}
html section.list > div:nth-child(2) > a,
body section.list > div:nth-child(2) > a {
  display: inline-block;
  color: #fff;
  font-size: .4rem;
  border: solid 3px #fff;
  border-right: 0;
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
  padding: .08rem .26rem;
  text-shadow: 1px 1px 5px #ca8963;
}
html section.list > div:nth-child(2) > a:nth-child(2),
body section.list > div:nth-child(2) > a:nth-child(2) {
  letter-spacing: .3rem;
}
html section.last_page,
body section.last_page {
  display: none;
  width: 7.5rem;
  height: 100%;
  background: url('../images/p_bg.png') no-repeat;
  background-size: cover;
}
html section.last_page > div:nth-child(1),
body section.last_page > div:nth-child(1) {
  overflow: hidden;
}
html section.last_page > div:nth-child(2),
body section.last_page > div:nth-child(2) {
  height: 100%;
  font-size: .36rem;
  color: #3e2e20;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
html section.last_page > div:nth-child(2) > div,
body section.last_page > div:nth-child(2) > div {
  width: 4.9rem;
  opacity: 0;
}
html section.last_page > div:nth-child(2) > div > p,
body section.last_page > div:nth-child(2) > div > p {
  line-height: .7rem;
}
html section.last_page > div:nth-child(2) > div:nth-child(3),
body section.last_page > div:nth-child(2) > div:nth-child(3) {
  color: #b63f0a;
}
html section.last_page > div:nth-child(2) > div:nth-child(4),
body section.last_page > div:nth-child(2) > div:nth-child(4) {
  width: 3.13rem;
  height: 3.91rem;
  background: url('../images/last_beiying.png') no-repeat;
  background-size: cover;
  margin-top: .1rem;
}
html section.last_page > a,
body section.last_page > a {
  display: none;
  position: absolute;
  right: 0;
  top: .2rem;
  z-index: 100;
  width: 1.6rem;
  height: .82rem;
  background: url(../images/all_btn.png) no-repeat;
  background-size: cover;
  color: #fff;
  font-size: .3rem;
  line-height: .63rem;
  box-sizing: border-box;
  padding-right: .4rem;
  text-align: right;
}
html section.end,
body section.end {
  display: none;
  min-height: 100%;
}
html section.end > div:nth-child(1),
body section.end > div:nth-child(1) {
  width: 7.5rem;
  height: 2.6rem;
  background: url(../images/end_01.png) no-repeat;
  background-size: cover;
  position: relative;
}
html section.end > div:nth-child(1) > a,
body section.end > div:nth-child(1) > a {
  display: inline-block;
}
html section.end > div:nth-child(1) > a:nth-child(1),
body section.end > div:nth-child(1) > a:nth-child(1) {
  position: absolute;
  top: .22rem;
  left: 0;
  margin: auto;
  z-index: 100;
  width: 1.6rem;
  height: .82rem;
  background: url('../images/end_look.png') no-repeat;
  background-size: cover;
}
html section.end > div:nth-child(1) > a:nth-child(2),
body section.end > div:nth-child(1) > a:nth-child(2) {
  position: absolute;
  top: .2rem;
  right: 0;
  width: 1.6rem;
  height: .82rem;
  background: url(../images/rule.png) no-repeat;
  background-size: cover;
}
html section.end > div:nth-child(2),
body section.end > div:nth-child(2) {
  width: 7.5rem;
  height: 4.52rem;
  background: url(../images/end_02.png) no-repeat;
  background-size: cover;
  position: relative;
}
html section.end > div:nth-child(2) > div:nth-child(1),
body section.end > div:nth-child(2) > div:nth-child(1) {
  position: absolute;
  right: .23rem;
  top: -0.76rem;
  z-index: 100;
  width: 1.26rem;
  height: 1.39rem;
  background: url('../images/end_li.png') no-repeat;
  background-size: cover;
}
html section.end > div:nth-child(2) > div:nth-child(2),
body section.end > div:nth-child(2) > div:nth-child(2) {
  -webkit-user-select: text !important;
}
html section.end > div:nth-child(2) > div:nth-child(2) > input,
body section.end > div:nth-child(2) > div:nth-child(2) > input {
  position: absolute;
  top: 1.73rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 5.7rem;
  height: .8rem;
  background-color: rgba(130, 108, 88, 0.5);
  box-sizing: border-box;
  border: solid .04rem #fff;
  border-radius: .24rem;
  text-align: center;
  font-size: .24rem;
  color: #fff;
}
html section.end > div:nth-child(2) > div:nth-child(2) > p.zhanshi,
body section.end > div:nth-child(2) > div:nth-child(2) > p.zhanshi {
  position: absolute;
  top: 1.9rem;
  left: 0;
  right: 0;
  margin: auto;
  font-size: .4rem;
  color: #fff;
  text-align: center;
}
html section.end > div:nth-child(2) > a,
body section.end > div:nth-child(2) > a {
  display: inline-block;
  position: absolute;
  top: 2.86rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 3.76rem;
  height: 1.07rem;
  background-image: url('../images/end_btn.png');
  background-repeat: no-repeat;
  background-size: cover;
}
html section.end > div:nth-child(3),
body section.end > div:nth-child(3) {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html section.end > div:nth-child(3) > a,
body section.end > div:nth-child(3) > a {
  margin: 0 auto;
  display: inline-block;
}
html section.end > div:nth-child(3) > a:nth-child(1),
body section.end > div:nth-child(3) > a:nth-child(1) {
  width: 7.16rem;
  height: 2.03rem;
  background: url('../images/end_03.png') no-repeat;
  background-size: cover;
  margin-bottom: .1rem;
  position: relative;
}
html section.end > div:nth-child(3) > a:nth-child(1) > span,
body section.end > div:nth-child(3) > a:nth-child(1) > span {
  display: inline-block;
  position: absolute;
  top: .4rem;
  right: .5rem;
  margin: auto;
  width: 1.05rem;
  height: 1.03rem;
  background: url('../images/end_03_01.png') no-repeat;
  background-size: cover;
}
html section.end > div:nth-child(3) > a:nth-child(2),
body section.end > div:nth-child(3) > a:nth-child(2) {
  width: 7.10rem;
  height: 2.02rem;
  background: url('../images/end_04.png') no-repeat;
  background-size: cover;
  position: relative;
}
html section.end > div:nth-child(3) > a:nth-child(2) > span,
body section.end > div:nth-child(3) > a:nth-child(2) > span {
  display: inline-block;
  position: absolute;
  bottom: .2rem;
  right: .4rem;
  width: 1.05rem;
  height: 1.03rem;
  background: url('../images/end_04_01.png') no-repeat;
  background-size: cover;
}
html section.end > div:nth-child(4),
body section.end > div:nth-child(4) {
  position: fixed;
  bottom: 0;
  width: 7.5rem;
  height: 1.94rem;
  background: url(../images/home_02.png) no-repeat;
  background-size: cover;
}
html section.share,
body section.share {
  display: none;
  position: absolute;
  top: 0;
  width: 7.5rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 200;
}
html section.share > div,
body section.share > div {
  width: 7.5rem;
  height: 3.8rem;
  background: url('../images/share_01.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: .18rem;
}
html section.tc,
body section.tc {
  position: fixed;
  top: 1.8rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 300;
}
html section.tc.tc_rule,
body section.tc.tc_rule {
  display: none;
  top: 1rem;
  width: 7.5rem;
  height: 9.03rem;
  background: url('../images/rule_bg.png') no-repeat;
  background-size: cover;
}
html section.tc.tc_rule > ul,
body section.tc.tc_rule > ul {
  width: 4.73rem;
  height: 5.68rem;
  font-size: .24rem;
  text-align: justify;
  overflow-y: scroll;
  position: absolute;
  top: 1.7rem;
  left: 0;
  right: 0;
  margin: auto;
  padding: .15rem 0;
  box-sizing: border-box;
}
html section.tc.tc_rule > ul > li,
body section.tc.tc_rule > ul > li {
  line-height: .5rem;
}
html section.tc.tc_rule > a,
body section.tc.tc_rule > a {
  position: absolute;
  bottom: .3rem;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 2.24rem;
  height: .71rem;
  background: url('../images/tc_sure.png') no-repeat;
  background-size: cover;
}
html section.tc.tc_01,
body section.tc.tc_01 {
  display: none;
  width: 5.56rem;
  height: 7.2rem;
  background: url('../images/tc_bg.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: #6d5744;
}
html section.tc.tc_01 > div:nth-child(1),
body section.tc.tc_01 > div:nth-child(1) {
  position: absolute;
  top: .84rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 3.95rem;
  height: 4.28rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #6d5744;
}
html section.tc.tc_01 > div:nth-child(1) > div:nth-child(1),
body section.tc.tc_01 > div:nth-child(1) > div:nth-child(1) {
  width: 3.54rem;
  height: .34rem;
  background: url('../images/tc_01.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
}
html section.tc.tc_01 > div:nth-child(1) > div:nth-child(2),
body section.tc.tc_01 > div:nth-child(1) > div:nth-child(2) {
  font-size: .3rem;
  margin: .6rem auto .38rem;
}
html section.tc.tc_01 > div:nth-child(1) > div:nth-child(2) > p > span,
body section.tc.tc_01 > div:nth-child(1) > div:nth-child(2) > p > span {
  color: #f35504;
}
html section.tc.tc_01 > div:nth-child(1) > div:nth-child(3),
body section.tc.tc_01 > div:nth-child(1) > div:nth-child(3) {
  font-size: .24rem;
}
html section.tc.tc_01 > div:nth-child(2),
body section.tc.tc_01 > div:nth-child(2) {
  position: absolute;
  bottom: .6rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 3.66rem;
}
html section.tc.tc_01 > div:nth-child(2) > a,
body section.tc.tc_01 > div:nth-child(2) > a {
  display: inline-block;
}
html section.tc.tc_01 > div:nth-child(2) > a:nth-child(1),
body section.tc.tc_01 > div:nth-child(2) > a:nth-child(1) {
  width: 1.76rem;
  height: .71rem;
  background: url('../images/tc_xg.png') no-repeat;
  background-size: cover;
}
html section.tc.tc_01 > div:nth-child(2) > a:nth-child(2),
body section.tc.tc_01 > div:nth-child(2) > a:nth-child(2) {
  width: 1.76rem;
  height: .71rem;
  background: url('../images/tc_xsure.png') no-repeat;
  background-size: cover;
}
html section.tc.tc_02,
body section.tc.tc_02 {
  display: none;
  width: 5.56rem;
  height: 7.2rem;
  background: url('../images/tc_bg.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: #6d5744;
}
html section.tc.tc_02 > div,
body section.tc.tc_02 > div {
  position: absolute;
  top: 1.52rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 3.95rem;
  height: 4.28rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
html section.tc.tc_02 > div > div:nth-child(1),
body section.tc.tc_02 > div > div:nth-child(1) {
  font-size: .3rem;
}
html section.tc.tc_02 > div > div:nth-child(1) > p > span,
body section.tc.tc_02 > div > div:nth-child(1) > p > span {
  color: #f35504;
}
html section.tc.tc_02 > div > div:nth-child(2),
body section.tc.tc_02 > div > div:nth-child(2) {
  font-size: .24rem;
  margin: .5rem 0 .2rem;
}
html section.tc.tc_02 > div > a,
body section.tc.tc_02 > div > a {
  display: inline-block;
  width: 3.95rem;
  height: 1.09rem;
  background-color: #5656f1;
}
html section.tc.tc_02 > a,
body section.tc.tc_02 > a {
  position: absolute;
  bottom: .6rem;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 2.24rem;
  height: .71rem;
  background: url('../images/tc_sure.png') no-repeat;
  background-size: cover;
}
html section.tc.tc_03,
body section.tc.tc_03,
html section.tc.tc_07,
body section.tc.tc_07 {
  display: none;
  width: 5.56rem;
  height: 7.2rem;
  background: url('../images/tc_bg.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: #6d5744;
  font-size: .3rem;
}
html section.tc.tc_03 > div,
body section.tc.tc_03 > div,
html section.tc.tc_07 > div,
body section.tc.tc_07 > div {
  position: absolute;
  top: 1.52rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 3.95rem;
  height: 4.28rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
html section.tc.tc_03 > div > p:nth-child(3) > span,
body section.tc.tc_03 > div > p:nth-child(3) > span,
html section.tc.tc_07 > div > p:nth-child(3) > span,
body section.tc.tc_07 > div > p:nth-child(3) > span {
  color: #f35504;
}
html section.tc.tc_03 > div > p:nth-child(4),
body section.tc.tc_03 > div > p:nth-child(4),
html section.tc.tc_07 > div > p:nth-child(4),
body section.tc.tc_07 > div > p:nth-child(4) {
  margin-top: .77rem;
}
html section.tc.tc_03 > div > p:nth-child(4),
body section.tc.tc_03 > div > p:nth-child(4),
html section.tc.tc_07 > div > p:nth-child(4),
body section.tc.tc_07 > div > p:nth-child(4),
html section.tc.tc_03 > div > p:nth-child(5),
body section.tc.tc_03 > div > p:nth-child(5),
html section.tc.tc_07 > div > p:nth-child(5),
body section.tc.tc_07 > div > p:nth-child(5),
html section.tc.tc_03 > div > p:nth-child(6),
body section.tc.tc_03 > div > p:nth-child(6),
html section.tc.tc_07 > div > p:nth-child(6),
body section.tc.tc_07 > div > p:nth-child(6) {
  font-size: .24rem;
}
html section.tc.tc_03 > div > a,
body section.tc.tc_03 > div > a,
html section.tc.tc_07 > div > a,
body section.tc.tc_07 > div > a {
  display: inline-block;
  width: 3.95rem;
  height: 1.09rem;
  background: #a9baff;
  margin-top: .37rem;
}
html section.tc.tc_03 > a,
body section.tc.tc_03 > a,
html section.tc.tc_07 > a,
body section.tc.tc_07 > a {
  position: absolute;
  bottom: .6rem;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 2.24rem;
  height: .71rem;
  background: url('../images/tc_tj.png') no-repeat;
  background-size: cover;
}
html section.tc.tc_04,
body section.tc.tc_04 {
  display: none;
  width: 5.56rem;
  height: 7.2rem;
  background: url('../images/tc_bg.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: #6d5744;
  font-size: .3rem;
}
html section.tc.tc_04 > div,
body section.tc.tc_04 > div {
  margin: 0 auto;
}
html section.tc.tc_04 > div:nth-child(1) > p,
body section.tc.tc_04 > div:nth-child(1) > p {
  position: absolute;
  top: -0.3rem;
  right: 0;
  width: .6rem;
  height: .6rem;
  background: url('../images/close.png') no-repeat;
  background-size: cover;
  z-index: 100;
}
html section.tc.tc_04 > div:nth-child(2),
body section.tc.tc_04 > div:nth-child(2) {
  position: absolute;
  top: 1.52rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 3.95rem;
  height: 4.28rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
html section.tc.tc_04 > div:nth-child(2) > p:nth-child(3) span,
body section.tc.tc_04 > div:nth-child(2) > p:nth-child(3) span {
  color: #f35504;
}
html section.tc.tc_04 > div:nth-child(2) > p:nth-child(6),
body section.tc.tc_04 > div:nth-child(2) > p:nth-child(6) {
  font-size: .2rem;
  margin: .5rem 0 .38rem;
}
html section.tc.tc_04 > div:nth-child(3),
body section.tc.tc_04 > div:nth-child(3) {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: .6rem;
  width: 3.77rem;
  display: flex;
  justify-content: space-between;
}
html section.tc.tc_04 > div:nth-child(3) > a,
body section.tc.tc_04 > div:nth-child(3) > a {
  display: inline-block;
  width: 1.76rem;
  height: .71rem;
  background-size: cover;
  background-repeat: no-repeat;
}
html section.tc.tc_04 > div:nth-child(3) > a:nth-child(1),
body section.tc.tc_04 > div:nth-child(3) > a:nth-child(1) {
  background-image: url('../images/tc_qita.png');
}
html section.tc.tc_04 > div:nth-child(3) > a:nth-child(2),
body section.tc.tc_04 > div:nth-child(3) > a:nth-child(2) {
  background-image: url('../images/tc_cgive.png');
}
html section.tc.tc_05,
body section.tc.tc_05 {
  display: none;
  width: 5.56rem;
  height: 7.2rem;
  background: url('../images/tc_bg.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: #6d5744;
  font-size: .3rem;
}
html section.tc.tc_05 > div,
body section.tc.tc_05 > div {
  margin: 0 auto;
}
html section.tc.tc_05 > div:nth-child(1) > p,
body section.tc.tc_05 > div:nth-child(1) > p {
  position: absolute;
  top: -0.3rem;
  right: 0;
  width: .6rem;
  height: .6rem;
  background: url('../images/close.png') no-repeat;
  background-size: cover;
}
html section.tc.tc_05 > div:nth-child(2),
body section.tc.tc_05 > div:nth-child(2) {
  position: absolute;
  top: 1.52rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 3.95rem;
  height: 4.28rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
html section.tc.tc_05 > div:nth-child(2) > p:nth-child(3),
body section.tc.tc_05 > div:nth-child(2) > p:nth-child(3) {
  font-size: .24rem;
  margin: .5rem auto .72rem;
  width: 3.54rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html section.tc.tc_05 > div:nth-child(2) > p:nth-child(3) > input,
body section.tc.tc_05 > div:nth-child(2) > p:nth-child(3) > input {
  width: 2.68rem;
  height: .58rem;
  border-radius: .1rem;
  border: solid 1px #826c58;
  box-sizing: border-box;
  background-color: transparent;
  padding-left: .15rem;
}
html section.tc.tc_05 > div:nth-child(2) > p:nth-child(4),
body section.tc.tc_05 > div:nth-child(2) > p:nth-child(4) {
  font-size: .2rem;
}
html section.tc.tc_05 > a,
body section.tc.tc_05 > a {
  position: absolute;
  bottom: .6rem;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 1.76rem;
  height: .71rem;
  background: url('../images/tc_xsure.png') no-repeat;
  background-size: cover;
}
html section.tc.tc_06,
body section.tc.tc_06 {
  display: none;
  width: 5.56rem;
  height: 7.2rem;
  background: url('../images/tc_bg.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: #6d5744;
}
html section.tc.tc_06 > div:nth-child(1),
body section.tc.tc_06 > div:nth-child(1) {
  position: absolute;
  top: .84rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 3.95rem;
  height: 4.28rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #6d5744;
  font-size: .3rem;
}
html section.tc.tc_06 > div:nth-child(1) > p:nth-child(2) > span,
body section.tc.tc_06 > div:nth-child(1) > p:nth-child(2) > span {
  color: #f35504;
}
html section.tc.tc_06 > div:nth-child(1) > p:nth-child(5),
body section.tc.tc_06 > div:nth-child(1) > p:nth-child(5) {
  font-size: .2rem;
  margin: .5rem auto;
}
html section.tc.tc_06 > div:nth-child(2),
body section.tc.tc_06 > div:nth-child(2) {
  position: absolute;
  bottom: .6rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 3.66rem;
}
html section.tc.tc_06 > div:nth-child(2) > a,
body section.tc.tc_06 > div:nth-child(2) > a {
  display: inline-block;
}
html section.tc.tc_06 > div:nth-child(2) > a:nth-child(1),
body section.tc.tc_06 > div:nth-child(2) > a:nth-child(1) {
  width: 1.76rem;
  height: .71rem;
  background: url('../images/tc_xg.png') no-repeat;
  background-size: cover;
}
html section.tc.tc_06 > div:nth-child(2) > a:nth-child(2),
body section.tc.tc_06 > div:nth-child(2) > a:nth-child(2) {
  width: 1.76rem;
  height: .71rem;
  background: url('../images/tc_xsure.png') no-repeat;
  background-size: cover;
}
html section.tc.tc_07,
body section.tc.tc_07 {
  display: none;
}
html section.tc.tc_07 > div > p:nth-child(1) span,
body section.tc.tc_07 > div > p:nth-child(1) span {
  color: #f35504;
}
html section.tc.tc_07 > div > p:nth-child(3) span,
body section.tc.tc_07 > div > p:nth-child(3) span {
  color: #6d5744;
}
html #inputTel::-webkit-input-placeholder,
body #inputTel::-webkit-input-placeholder {
  font-size: .28rem;
  color: #fff;
  text-align: center;
}
html #inputTel:-moz-placeholder,
body #inputTel:-moz-placeholder {
  font-size: .28rem;
  color: #fff;
  text-align: center;
}
html #inputTel::-moz-placeholder,
body #inputTel::-moz-placeholder {
  font-size: .28rem;
  color: #fff;
  text-align: center;
}
html #inputTel:-ms-input-placeholder,
body #inputTel:-ms-input-placeholder {
  font-size: .28rem;
  color: #fff;
  text-align: center;
}
html section.mask,
body section.mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.music {
  display: none;
  position: fixed;
  top: .9rem;
  right: .2rem;
  z-index: 50;
  width: .6rem;
  height: .6rem;
  background: url("../audio/music.svg") no-repeat;
  background-size: cover;
}
.music.move {
  -webkit-animation: musicMove 1s linear 0s infinite both;
  animation: musicMove 1s linear 0s infinite both;
}
@-webkit-keyframes musicMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes musicMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes btnScale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes btnScale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.tada {
  -webkit-animation: tada 2s infinite;
  animation: tada 2s infinite;
}
@keyframes to-scroll {
  0% {
    transform: rotateY(90deg);
  }
  33% {
    transform: rotateY(60deg);
  }
  66% {
    transform: rotateY(30deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
#last_first {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: right top 0;
  transform: rotateY(0deg);
}
.last_img {
  transform-style: preserve-3d;
  top: 0;
  bottom: 0;
  width: 10.72rem;
  position: absolute;
  left: -1.5rem;
  margin: auto;
}
.rotateInDownleft {
  animation: to-scroll 1s linear 1 normal;
  -webkit-animation: to-scroll 1s linear 1 normal;
}
.bling {
  box-shadow: 1px 0px 10px 2px #fce622;
}
.page {
  background: url('../images/p_bg.png') no-repeat;
  background-size: cover;
}
.p1 > p {
  width: 7.5rem;
  height: 11.16rem;
  background: url('../images/p_01.png') no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
}
.p2 > p {
  width: 6.49rem;
  height: 12.06rem;
  background: url('../images/p_02.png') no-repeat;
  background-size: cover;
  position: fixed;
  bottom: 0;
}
.p3 > p {
  width: 6.79rem;
  height: 11.46rem;
  background: url('../images/p_03.png') no-repeat;
  background-size: cover;
  position: fixed;
  bottom: 0;
}
.p4 > p {
  width: 7.03rem;
  height: 11.15rem;
  background: url('../images/p_04.png') no-repeat;
  background-size: cover;
  position: fixed;
  right: 0;
  bottom: 0;
}
.p5 > p {
  width: 7.05rem;
  height: 11.50rem;
  background: url('../images/p_05.png') no-repeat;
  background-size: cover;
  position: fixed;
  right: 0;
  bottom: 0;
}
